# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Environment
.env
local.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
dist/

# Project
/ignore/*